USE [Session1]
GO
/****** Object:  Table [dbo].[Activities]    Script Date: 25.06.2022 3:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activities](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[EventID] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[Days] [int] NOT NULL,
	[Day] [int] NOT NULL,
	[ModeratorID] [int] NOT NULL,
	[Jury1] [int] NOT NULL,
	[Jury2] [int] NOT NULL,
	[Jury3] [int] NOT NULL,
	[Jury4] [int] NOT NULL,
	[Jury5] [int] NOT NULL,
	[Winner] [int] NOT NULL,
 CONSTRAINT [PK_Activities] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 25.06.2022 3:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 25.06.2022 3:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[English Name] [nvarchar](255) NOT NULL,
	[Code] [nvarchar](10) NOT NULL,
	[Code2] [int] NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 25.06.2022 3:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Date] [date] NOT NULL,
	[Days] [int] NOT NULL,
	[City] [int] NOT NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jury]    Script Date: 25.06.2022 3:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jury](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[Surname] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Patronymic] [nvarchar](255) NULL,
	[Gender] [int] NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Birthday] [date] NOT NULL,
	[Country] [int] NOT NULL,
	[Phone] [nvarchar](255) NOT NULL,
	[Direction] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Photo] [nvarchar](255) NULL,
 CONSTRAINT [PK_Jury] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 25.06.2022 3:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[Surname] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Patronymic] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Birthday] [date] NOT NULL,
	[Country] [int] NOT NULL,
	[Phone] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Photo] [nvarchar](255) NULL,
	[Gender] [int] NOT NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Moderators]    Script Date: 25.06.2022 3:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Moderators](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[Surname] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Patronymic] [nvarchar](255) NULL,
	[Gender] [int] NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Birthday] [date] NOT NULL,
	[Country] [int] NOT NULL,
	[Phone] [nvarchar](255) NOT NULL,
	[Direction] [nvarchar](255) NOT NULL,
	[Event] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Photo] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Moderators] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organizers]    Script Date: 25.06.2022 3:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizers](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[Surname] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Patronymic] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Birthday] [date] NOT NULL,
	[Country] [int] NOT NULL,
	[Phone] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Photo] [nvarchar](255) NULL,
	[Gender] [int] NOT NULL,
 CONSTRAINT [PK_Organizers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Activities] ON 

INSERT [dbo].[Activities] ([ID], [Name], [EventID], [StartDate], [StartTime], [Days], [Day], [ModeratorID], [Jury1], [Jury2], [Jury3], [Jury4], [Jury5], [Winner]) VALUES (0, N'Лидерство в бизнесе', 5, CAST(N'2023-11-09T00:00:00.000' AS DateTime), CAST(N'1899-12-30T09:00:00.000' AS DateTime), 2, 1, 0, 1, 1, 6, 5, 5, 0)
INSERT [dbo].[Activities] ([ID], [Name], [EventID], [StartDate], [StartTime], [Days], [Day], [ModeratorID], [Jury1], [Jury2], [Jury3], [Jury4], [Jury5], [Winner]) VALUES (1, N'Технология принятия решений', 5, CAST(N'2023-11-09T00:00:00.000' AS DateTime), CAST(N'1899-12-30T10:45:00.000' AS DateTime), 2, 2, 1, 2, 2, 7, 6, 6, 0)
INSERT [dbo].[Activities] ([ID], [Name], [EventID], [StartDate], [StartTime], [Days], [Day], [ModeratorID], [Jury1], [Jury2], [Jury3], [Jury4], [Jury5], [Winner]) VALUES (2, N'Искусство коучинга', 5, CAST(N'2023-11-09T00:00:00.000' AS DateTime), CAST(N'1899-12-30T12:30:00.000' AS DateTime), 2, 2, 2, 3, 3, 8, 7, 7, 0)
SET IDENTITY_INSERT [dbo].[Activities] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([ID], [Name]) VALUES (0, N'Абакан')
INSERT [dbo].[City] ([ID], [Name]) VALUES (1, N'Абдулино')
INSERT [dbo].[City] ([ID], [Name]) VALUES (2, N'Абинск')
GO
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([ID], [Name], [English Name], [Code], [Code2]) VALUES (0, N'Абхазия', N'Abkhazia', N'AB', 895)
INSERT [dbo].[Country] ([ID], [Name], [English Name], [Code], [Code2]) VALUES (1, N'Австралия', N'Australia', N'AU', 36)
INSERT [dbo].[Country] ([ID], [Name], [English Name], [Code], [Code2]) VALUES (2, N'Австрия', N'Austria', N'AT', 40)
GO
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([ID], [Name], [Date], [Days], [City]) VALUES (0, N'Всероссийский хакатон neuromedia 2017 по разработке продуктов на стыке информационных технологий, медиа и нейронных сетей ', CAST(N'2022-10-26' AS Date), 1, 1)
INSERT [dbo].[Events] ([ID], [Name], [Date], [Days], [City]) VALUES (1, N'Встреча #3 клуба ITBizRadio на тему:  «уборка» — выкидываем ненужные навыки, инструменты и ограничения» ', CAST(N'2022-07-14' AS Date), 3, 2)
INSERT [dbo].[Events] ([ID], [Name], [Date], [Days], [City]) VALUES (2, N'Встреча клуба «Leader stories»: Мотивирующее руководство ', CAST(N'2023-11-09' AS Date), 2, 4)
SET IDENTITY_INSERT [dbo].[Events] OFF
GO
SET IDENTITY_INSERT [dbo].[Jury] ON 

INSERT [dbo].[Jury] ([ID], [Surname], [Name], [Patronymic], [Gender], [Email], [Birthday], [Country], [Phone], [Direction], [Password], [Photo]) VALUES (0, N'Галкина', N'Верона', N'Васильевна', 1, N'obuckridge@sipes.com', CAST(N'1969-05-18' AS Date), 35, N'7(880)544-61-83', N'Дизайн', N'HHikbP', N'foto21.jpg')
INSERT [dbo].[Jury] ([ID], [Surname], [Name], [Patronymic], [Gender], [Email], [Birthday], [Country], [Phone], [Direction], [Password], [Photo]) VALUES (1, N'Герасимова', N'Айлин', N'Ефимовна', 1, N'loraine.aufderhar@johnston.info', CAST(N'1966-06-09' AS Date), 53, N'7(835)478-61-60', N'Дизайн', N'TuhRzy', N'foto22.jpg')
INSERT [dbo].[Jury] ([ID], [Surname], [Name], [Patronymic], [Gender], [Email], [Birthday], [Country], [Phone], [Direction], [Password], [Photo]) VALUES (2, N'Большаков', N'Августин', N'Алексеевич', 0, N'juanita.kuvalis@yahoo.com', CAST(N'1978-07-12' AS Date), 52, N'7(173)770-55-13', N'ИТ', N'4Y83lz', N'foto23.jpg')
SET IDENTITY_INSERT [dbo].[Jury] OFF
GO
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([ID], [Surname], [Name], [Patronymic], [Email], [Birthday], [Country], [Phone], [Password], [Photo], [Gender]) VALUES (0, N'Ершова', N'Нора', N'Федотовна', N'techie@outlook.com', CAST(N'1987-03-26' AS Date), 71, N'9.60424e+009', N'tKKevv8%', N'foto60.jpg', 1)
INSERT [dbo].[Members] ([ID], [Surname], [Name], [Patronymic], [Email], [Birthday], [Country], [Phone], [Password], [Photo], [Gender]) VALUES (1, N'Афанасьева', N'Жанна', N'Валентиновна', N'agapow@yahoo.com', CAST(N'1988-01-04' AS Date), 34, N'9.30662e+009', N'huSfHm4$', N'foto61.jpg', 1)
INSERT [dbo].[Members] ([ID], [Surname], [Name], [Patronymic], [Email], [Birthday], [Country], [Phone], [Password], [Photo], [Gender]) VALUES (2, N'Крылова', N'Рая', N'Всеволодовна', N'chaikin@yahoo.ca', CAST(N'1988-04-05' AS Date), 73, N'9.57266e+009', N'TlUwMw77%', N'foto62.jpg', 1)
SET IDENTITY_INSERT [dbo].[Members] OFF
GO
SET IDENTITY_INSERT [dbo].[Moderators] ON 

INSERT [dbo].[Moderators] ([ID], [Surname], [Name], [Patronymic], [Gender], [Email], [Birthday], [Country], [Phone], [Direction], [Event], [Password], [Photo]) VALUES (0, N'Царева', N'Виктория', N'Давидовна', 1, N'iunhxq41tgr5@tutanota.com', CAST(N'1988-07-03' AS Date), 33, N'7(567)103-73-32', N'ИТ', N'IT в бизнесе', N'FYi396Dd5u', N'foto9.jpg')
INSERT [dbo].[Moderators] ([ID], [Surname], [Name], [Patronymic], [Gender], [Email], [Birthday], [Country], [Phone], [Direction], [Event], [Password], [Photo]) VALUES (1, N'Зорин', N'Дмитрий', N'Маркович', 0, N'ofdt4z1bijq0@tutanota.com', CAST(N'1993-09-07' AS Date), 57, N'7(79)644-01-06', N'ИТ', N'IT в бизнесе', N'7gi7E8K4Ng', N'foto10.jpg')
INSERT [dbo].[Moderators] ([ID], [Surname], [Name], [Patronymic], [Gender], [Email], [Birthday], [Country], [Phone], [Direction], [Event], [Password], [Photo]) VALUES (2, N'Зотова', N'Анна', N'Тимуровна', 1, N'ac6yxzg7rl5k@mail.com', CAST(N'1990-09-21' AS Date), 11, N'7(488)643-19-98', N'Биг Дата', N'Разработка приложений', N'3L3eA5eEg3', N'foto8.jpg')
SET IDENTITY_INSERT [dbo].[Moderators] OFF
GO
SET IDENTITY_INSERT [dbo].[Organizers] ON 

INSERT [dbo].[Organizers] ([ID], [Surname], [Name], [Patronymic], [Email], [Birthday], [Country], [Phone], [Password], [Photo], [Gender]) VALUES (0, N'Васильев', N'Всеволод', N'Давидович', N'6z92wongmash@tutanota.com', CAST(N'1988-10-16' AS Date), 51, N'7(354)903-53-67', N'Ke22Yh8Pp7', N'foto1.jpg', 0)
INSERT [dbo].[Organizers] ([ID], [Surname], [Name], [Patronymic], [Email], [Birthday], [Country], [Phone], [Password], [Photo], [Gender]) VALUES (1, N'Новиков', N'Фёдор', N'Макарович', N'jkp23vlzsqei@gmail.com', CAST(N'1980-08-03' AS Date), 33, N'7(6562)925-01-77', N'Tj78jXeH68', N'foto2.jpg', 0)
INSERT [dbo].[Organizers] ([ID], [Surname], [Name], [Patronymic], [Email], [Birthday], [Country], [Phone], [Password], [Photo], [Gender]) VALUES (2, N'Фролова', N'Владислава', N'Савельевна', N'dncmxp1vqr4t@tutanota.com', CAST(N'1999-07-13' AS Date), 43, N'7(12)981-33-56', N'DF9a8cJf82', N'foto3.jpg', 1)
SET IDENTITY_INSERT [dbo].[Organizers] OFF
GO
ALTER TABLE [dbo].[Activities]  WITH CHECK ADD  CONSTRAINT [FK_Activities_Events] FOREIGN KEY([EventID])
REFERENCES [dbo].[Events] ([ID])
GO
ALTER TABLE [dbo].[Activities] CHECK CONSTRAINT [FK_Activities_Events]
GO
ALTER TABLE [dbo].[Activities]  WITH CHECK ADD  CONSTRAINT [FK_Activities_Jury] FOREIGN KEY([Jury1])
REFERENCES [dbo].[Jury] ([ID])
GO
ALTER TABLE [dbo].[Activities] CHECK CONSTRAINT [FK_Activities_Jury]
GO
ALTER TABLE [dbo].[Activities]  WITH CHECK ADD  CONSTRAINT [FK_Activities_Jury1] FOREIGN KEY([Jury2])
REFERENCES [dbo].[Jury] ([ID])
GO
ALTER TABLE [dbo].[Activities] CHECK CONSTRAINT [FK_Activities_Jury1]
GO
ALTER TABLE [dbo].[Activities]  WITH CHECK ADD  CONSTRAINT [FK_Activities_Jury2] FOREIGN KEY([Jury3])
REFERENCES [dbo].[Jury] ([ID])
GO
ALTER TABLE [dbo].[Activities] CHECK CONSTRAINT [FK_Activities_Jury2]
GO
ALTER TABLE [dbo].[Activities]  WITH CHECK ADD  CONSTRAINT [FK_Activities_Jury3] FOREIGN KEY([Jury4])
REFERENCES [dbo].[Jury] ([ID])
GO
ALTER TABLE [dbo].[Activities] CHECK CONSTRAINT [FK_Activities_Jury3]
GO
ALTER TABLE [dbo].[Activities]  WITH CHECK ADD  CONSTRAINT [FK_Activities_Jury4] FOREIGN KEY([Jury5])
REFERENCES [dbo].[Jury] ([ID])
GO
ALTER TABLE [dbo].[Activities] CHECK CONSTRAINT [FK_Activities_Jury4]
GO
ALTER TABLE [dbo].[Activities]  WITH CHECK ADD  CONSTRAINT [FK_Activities_Members] FOREIGN KEY([Winner])
REFERENCES [dbo].[Members] ([ID])
GO
ALTER TABLE [dbo].[Activities] CHECK CONSTRAINT [FK_Activities_Members]
GO
ALTER TABLE [dbo].[Activities]  WITH CHECK ADD  CONSTRAINT [FK_Activities_Moderators] FOREIGN KEY([ModeratorID])
REFERENCES [dbo].[Moderators] ([ID])
GO
ALTER TABLE [dbo].[Activities] CHECK CONSTRAINT [FK_Activities_Moderators]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_City] FOREIGN KEY([City])
REFERENCES [dbo].[City] ([ID])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_City]
GO
ALTER TABLE [dbo].[Jury]  WITH CHECK ADD  CONSTRAINT [FK_Jury_Country] FOREIGN KEY([Country])
REFERENCES [dbo].[Country] ([ID])
GO
ALTER TABLE [dbo].[Jury] CHECK CONSTRAINT [FK_Jury_Country]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_Members_Country] FOREIGN KEY([Country])
REFERENCES [dbo].[Country] ([ID])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Members_Country]
GO
ALTER TABLE [dbo].[Moderators]  WITH CHECK ADD  CONSTRAINT [FK_Moderators_Country] FOREIGN KEY([Country])
REFERENCES [dbo].[Country] ([ID])
GO
ALTER TABLE [dbo].[Moderators] CHECK CONSTRAINT [FK_Moderators_Country]
GO
ALTER TABLE [dbo].[Organizers]  WITH CHECK ADD  CONSTRAINT [FK_Organizers_Country] FOREIGN KEY([Country])
REFERENCES [dbo].[Country] ([ID])
GO
ALTER TABLE [dbo].[Organizers] CHECK CONSTRAINT [FK_Organizers_Country]
GO
